* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 15px;
}

button {
  background-color: #3882f6;
  padding: 10px 25px;
  border-radius: 8px;
  color: white;
}

.header {
  background-color: #1f2937;
  color: white;
  border: 1px dotted white;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  margin-bottom: 70px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.header-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
}

.body-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quote {
  background-color: lightgray;
  font-size: 36px;
  padding: 100px;
  font-family: light italic;
  color: #1f2937;
}

.random-header {
  text-align: center;
  padding: 20px;
}

.random-information {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding: 30px;
}


.box-container,
.box-text{
  display: flex;
  gap: 40px;
}

.box-text p{
  max-width: 150px;
  text-align: center;
}

.box-text{
  display: flex;
}
.box {
  border: 3px solid rgb(19, 139, 219);
  border-radius: 10px;
  width: 150px;
  height: 150px;
  flex: 0 0 auto;
}

.footer {
  display: flex;
  background-color: #1f2937;
  height: 100px;
  color: white;
  justify-content: center;
  align-items: center;
}
